<a href="https://colab.research.google.com/github/amindazad/GCC_Vegtables_Market/blob/main/GCC_Vegetables_Market_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import required libraries
import pandas as pd
import numpy as np

In [ ]:
UAE = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/UAE_Vegtables_Trade_Statistics_2015_2019.csv", header=0)
Saudi = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Saudi_Vegtables_Trade_Statistics_2015-2019.csv", header=0)
Qatar = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Qatar_Vetables_Trade_Statistics_2015_2019.csv", header=0)
Oman = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Oman_Vegtables_Trade_Statistics_2015_2019.csv", header=0)
Kuwait = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Kuwait_Vegtables_Trade_Statistics_2015_2019.csv", header=0)
Bahrain = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Bahrain_Vegtables_Trade_Statistics_2015_2019.csv", header=0)

In [ ]:
print(UAE.shape)
UAE.head()

(71, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0     UAE  '071340  ...                 103223                  114192
1     UAE  '070999  ...                 100864                   98916
2     UAE  '070310  ...                  90827                   89108
3     UAE  '070200  ...                 100664                   86473
4     UAE  '071320  ...                  94462                   65450

[5 rows x 8 columns]

In [ ]:
# Check for NaN values
UAE.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [ ]:
print(Saudi.shape)
Saudi.head()

(71, 8)

        Country     Code  ... Imported value in 2018  Imported value in 2019
0  Saudi Arabia  '070200  ...                  79110                   86784
1  Saudi Arabia  '070310  ...                 119844                   83625
2  Saudi Arabia  '070320  ...                  36361                   51752
3  Saudi Arabia  '071320  ...                  50843                   42160
4  Saudi Arabia  '070511  ...                  35849                   38972

[5 rows x 8 columns]

In [ ]:
# Check for NaN values
Saudi.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [ ]:
print(Qatar.shape)
Qatar.head()

(72, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0   Qatar  '070310  ...                  31594                   28633
1   Qatar  '070200  ...                  29875                   26529
2   Qatar  '070999  ...                  37800                   18612
3   Qatar  '070960  ...                  16359                   15021
4   Qatar  '070110  ...                  15359                   14651

[5 rows x 8 columns]

In [ ]:
# Check for NaN values
Qatar.isnull().sum()

Country                    0
Code                       0
Product label              0
Imported value in 2015     0
Imported value in 2016    72
Imported value in 2017     0
Imported value in 2018     0
Imported value in 2019     0
dtype: int64

In [ ]:
Qatar[Qatar.isna().any(axis=1)]

   Country     Code  ... Imported value in 2018  Imported value in 2019
0    Qatar  '070310  ...                  31594                   28633
1    Qatar  '070200  ...                  29875                   26529
2    Qatar  '070999  ...                  37800                   18612
3    Qatar  '070960  ...                  16359                   15021
4    Qatar  '070110  ...                  15359                   14651
..     ...      ...  ...                    ...                     ...
67   Qatar  '070990  ...                      0                       0
68   Qatar  '070952  ...                      0                       0
69   Qatar  '070529  ...                     30                       0
70   Qatar  '070890  ...                    172                       0
71   Qatar  '070910  ...                      0                       0

[72 rows x 8 columns]

In [ ]:
# Replace NaN values with the row's mean. I chose row mean because replaced
# values are specific to each product
Qatar = Qatar.T.fillna(Qatar.mean(axis=1)).T
Qatar

   Country     Code  ... Imported value in 2018 Imported value in 2019
0    Qatar  '070310  ...                  31594                  28633
1    Qatar  '070200  ...                  29875                  26529
2    Qatar  '070999  ...                  37800                  18612
3    Qatar  '070960  ...                  16359                  15021
4    Qatar  '070110  ...                  15359                  14651
..     ...      ...  ...                    ...                    ...
67   Qatar  '070990  ...                      0                      0
68   Qatar  '070952  ...                      0                      0
69   Qatar  '070529  ...                     30                      0
70   Qatar  '070890  ...                    172                      0
71   Qatar  '070910  ...                      0                      0

[72 rows x 8 columns]

In [ ]:
print(Oman.shape)
Oman.head()

(69, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0    Oman  '070310  ...                  26262                 25032.0
1    Oman  '070190  ...                  28926                 23798.0
2    Oman  '070200  ...                  16949                 14268.0
3    Oman  '070320  ...                  10985                 13580.0
4    Oman  '071320  ...                  10061                  8797.0

[5 rows x 8 columns]

In [ ]:
# Check for NaN values
Oman.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    5
dtype: int64

In [ ]:
# Replace NaN values with the row's mean. I chose row mean because replaced
# values are specific to each product
Oman = Oman.T.fillna(Oman.mean(axis=1)).T
Oman.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [ ]:
print(Kuwait.shape)
Kuwait.head()

(70, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0  Kuwait  '070200  ...                  32509                 36022.0
1  Kuwait  '070190  ...                  38200                 21478.0
2  Kuwait  '070310  ...                  37638                 21394.0
3  Kuwait  '070960  ...                  17215                 20992.0
4  Kuwait  '070999  ...                  50434                 19663.0

[5 rows x 8 columns]

In [ ]:
# Check for NaN values
Kuwait.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    6
dtype: int64

In [ ]:
# Replace NaN values with the row's mean. I chose row mean because replaced
# values are specific to each product
Kuwait = Kuwait.T.fillna(Kuwait.mean(axis=1)).T
Kuwait.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [ ]:
print(Bahrain.shape)
Bahrain.head()

(72, 8)

   Country     Code  ... Imported value in 2018  Imported value in 2019
0  Bahrain  '070200  ...                  13963                 17583.0
1  Bahrain  '070999  ...                  16614                 11934.0
2  Bahrain  '070310  ...                  15774                 11803.0
3  Bahrain  '070960  ...                   8852                  8711.0
4  Bahrain  '070190  ...                  12031                  6606.0

[5 rows x 8 columns]

In [ ]:
# Check for NaN values
Bahrain.isnull().sum()

Country                    0
Code                       0
Product label              0
Imported value in 2015     0
Imported value in 2016     0
Imported value in 2017     0
Imported value in 2018     0
Imported value in 2019    10
dtype: int64

In [ ]:
Bahrain[Bahrain.isna().any(axis=1)]

    Country     Code  ... Imported value in 2018  Imported value in 2019
62  Bahrain  '071334  ...                      0                     NaN
63  Bahrain  '071159  ...                     34                     NaN
64  Bahrain  '071232  ...                      1                     NaN
65  Bahrain  '071233  ...                      0                     NaN
66  Bahrain  '071230  ...                      0                     NaN
67  Bahrain  '071130  ...                      0                     NaN
68  Bahrain  '071110  ...                      0                     NaN
69  Bahrain  '070990  ...                      0                     NaN
70  Bahrain  '070952  ...                      0                     NaN
71  Bahrain  '070910  ...                      0                     NaN

[10 rows x 8 columns]

In [ ]:
Bahrain = Bahrain.T.fillna(Bahrain.mean(axis=1)).T
Bahrain

    Country     Code  ... Imported value in 2018 Imported value in 2019
0   Bahrain  '070200  ...                  13963                  17583
1   Bahrain  '070999  ...                  16614                  11934
2   Bahrain  '070310  ...                  15774                  11803
3   Bahrain  '070960  ...                   8852                   8711
4   Bahrain  '070190  ...                  12031                   6606
..      ...      ...  ...                    ...                    ...
67  Bahrain  '071130  ...                      0                      0
68  Bahrain  '071110  ...                      0                      0
69  Bahrain  '070990  ...                      0                    0.5
70  Bahrain  '070952  ...                      0                      0
71  Bahrain  '070910  ...                      0                      0

[72 rows x 8 columns]

In [ ]:
# Merge Datasets
df1 = pd.concat([UAE, Saudi])
df2 = pd.concat([df1, Qatar])
df3 = pd.concat([df2, Oman])
df4 = pd.concat([df3, Kuwait])
GCC = pd.concat([df4, Bahrain])
GCC

    Country     Code  ... Imported value in 2018 Imported value in 2019
0       UAE  '071340  ...                 103223                 114192
1       UAE  '070999  ...                 100864                  98916
2       UAE  '070310  ...                  90827                  89108
3       UAE  '070200  ...                 100664                  86473
4       UAE  '071320  ...                  94462                  65450
..      ...      ...  ...                    ...                    ...
67  Bahrain  '071130  ...                      0                      0
68  Bahrain  '071110  ...                      0                      0
69  Bahrain  '070990  ...                      0                    0.5
70  Bahrain  '070952  ...                      0                      0
71  Bahrain  '070910  ...                      0                      0

[425 rows x 8 columns]

In [ ]:
# Finding Null Values and replacing them with 0
GCC.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [ ]:
GCC['Product label'].value_counts()

Fresh or chilled globe artichokes                                                                   12
Fresh or chilled onions and shallots                                                                 6
Leguminous vegetables, shelled or unshelled, uncooked or cooked by steaming or by boiling in ...     6
Taro "Colocasia spp.", fresh, chilled, frozen or dried, whether or not sliced or in the form ...     6
Cucumbers and gherkins, fresh or chilled                                                             6
                                                                                                    ..
Fresh or chilled truffles                                                                            5
Capers provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...       4
Dried mushrooms and truffles, whole, cut, sliced, broken or in powder, but not further prepared      4
Yautia "Xanthosoma spp.", fresh, chilled, frozen or dried, whether or not sliced or in the ...       2
Onions provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...       2
Name: Product label, Length: 72, dtype: int64

In [ ]:
# Renaming product lables to shorter more interperetable names
GCC['Product label'] = GCC['Product label'].replace(['Fresh or chilled onions and shallots',
                                                     'Dried, shelled chickpeas "garbanzos", whether or not skinned or split',
                                                     'Garlic, fresh or chilled',
                                                     'Fresh or chilled cabbage lettuce',
                                                     'Dried, shelled lentils, whether or not skinned or split',
                                                     'Dried, shelled broad beans "Vicia faba var. major" and horse beans "Vicia faba var. equina ...',
                                                     'Fresh or chilled carrots and turnips',
                                                     'Fresh or chilled fruits of the genus Capsicum or Pimenta',
                                                     'Sweetcorn, uncooked or cooked by steaming or by boiling in water, frozen',
                                                     'Dried, shelled leguminous vegetables, whether or not skinned or split (excluding peas, chickpeas, ...',
                                                     'Fresh or chilled potatoes (excluding seed)',
                                                     'Vegetables, uncooked or cooked by steaming or by boiling in water, frozen (excluding potatoes, …',
                                                     'Arrowroot, salep, Jerusalem artichokes and similar roots and tubers with high starch or inulin ...'],
                                                    ['Fresh Onions and Shallots',
                                                     'Dried Chickpeas',
                                                     'Fresh Garlic',
                                                     'Fresh Cabbage',
                                                     'Dried Lentil',
                                                     'Dried Beans',
                                                     'Fresh Carrots & Turnips',
                                                     'Fresh Bell Peppers and Other Peppers',
                                                     'Packaged Sweetcorn',
                                                     'Dried beans',
                                                     'Fresh Potatoes (excluding seed)',
                                                     'Packaged Vegtables',
                                                     'Fresh Arrowroots'])

GCC['Product label'] = GCC['Product label'].replace(['Fresh or chilled mushrooms of the genus "Agaricus"',
                                                     'Fresh or chilled cauliflowers and headed broccoli',
                                                     'Mixtures of vegetables, uncooked or cooked by steaming or by boiling in water, frozen',
                                                     'Shelled or unshelled peas "Pisum sativum", uncooked or cooked by steaming or by boiling in …',
                                                     'Olives, provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...',
                                                     'Dried, shelled beans of species "Vigna mungo [L.] Hepper or Vigna radiata [L.] Wilczek", whether ...',
                                                     'Fresh or chilled leguminous vegetables, shelled or unshelled (excluding peas "Pisum sativum" ...',
                                                     'Dried, shelled peas "Pisum sativum", whether or not skinned or split',
                                                     'Fresh or chilled vegetables n.e.s.',
                                                     'Sweet potatoes, fresh, chilled, frozen or dried, whether or not sliced or in the form of pellets',
                                                     'Dried, shelled kidney beans "Phaseolus vulgaris", whether or not skinned or split',
                                                     'Shelled or unshelled beans "Vigna spp., Phaseolus spp.", uncooked or cooked by steaming or ...',
                                                     'Fresh or chilled pumpkins, squash and gourds "Cucurbita spp."'],
                                                    ['Fresh Mushrooms',
                                                     'Fresh Cauliflowers and Broccolis',
                                                     'Packaged Mixed Vegtables',
                                                     'Dried Peas',
                                                     'Packaged Olives',
                                                     'Dried Vigna Beans',
                                                     'Fresh leguminous vegetables',
                                                     'Dried shelled peas',
                                                     'Fresh n.e.s. vegtebles',
                                                     'Dried kidney beans',
                                                     'Packaged leguminous vegetables',
                                                     'Packaged Beans',
                                                     'Fresh pumpkins, squash, gourds'])

GCC['Product label'] = GCC['Product label'].replace(['Vegetables and mixtures of vegetables provisionally preserved, e.g. by sulphur dioxide gas, ...',
                                                     'Dried mushrooms and truffles, whole, cut, sliced, broken or in powder, but not further prepared ...',
                                                     'Fresh or chilled celery (excluding celeriac)',
                                                     'Fresh or chilled beans "Vigna spp., Phaseolus spp.", shelled or unshelled',
                                                     'Fresh or chilled edible mushrooms and truffles (excluding mushrooms of the genus "Agaricus")',
                                                     'Fresh or chilled asparagus',
                                                     'Fresh or chilled leguminous vegetables, shelled or unshelled (excluding peas "Pisum sativum" ...',
                                                     'Leeks and other alliaceous vegetables, fresh or chilled (excluding onions, shallots and garlic)',
                                                     'Dried vegetables and mixtures of vegetables, whole, cut, sliced, broken or in powder, but not ...',
                                                     'Spinach, New Zealand spinach and orache spinach, uncooked or cooked by steaming or by boiling ...',
                                                     'Fresh or chilled salad beetroot, salsify, celeriac, radishes and similar edible roots (excluding ...',
                                                     'Taro "Colocasia spp.", fresh, chilled, frozen or dried, whether or not sliced or in the form …',
                                                     'Dried onions, whole, cut, sliced, broken or in powder, but not further prepared"'],
                                                    ['Packaged preserved vegtables',
                                                     'Dried mushrooms and truffles',
                                                     'Fresh celery',
                                                     'Fresh Vigna Beans',
                                                     'Fresh Exotic Mushrooms',
                                                     'Fresh asparagus',
                                                     'Fresh leguminous vegetables',
                                                     'Fresh alliaceous vegetables (excluding onions, shallots and garlic)',
                                                     'Dried vegtables mix',
                                                     'Packaged spinach',
                                                     'Fresh beetroot & radishes',
                                                     'Fresh Taro',
                                                     'Dried oninons'])

GCC['Product label'] = GCC['Product label'].replace(['Potatoes, uncooked or cooked by steaming or by boiling in water, frozen',
                                                     'Cucumbers and gherkins, fresh or chilled',
                                                     'Dried, shelled small red "Adzuki" beans "Phaseolus or Vigna angularis", whether or not skinned ...',
                                                     'Brussels sprouts, fresh or chilled',
                                                     'Fresh or chilled peas "Pisum sativum", shelled or unshelled',
                                                     'Fresh or chilled spinach, New Zealand spinach and orache spinach',
                                                     'Cucumbers and gherkins provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur ...',
                                                     'Dried, shelled beans "Vigna and Phaseolus", whether or not skinned or split (excluding beans …',
                                                     'Fresh or chilled cabbages, kohlrabi, kale and similar edible brassicas (excluding cauliflowers, ...',
                                                     'Fresh, chilled, frozen or dried roots and tubers of manioc "cassava", whether or not sliced ...',
                                                     'Mushrooms and truffles, provisionally preserved, e.g., by sulphur dioxide gas, in brine, in …',
                                                     'Dried mushrooms of the genus "Agaricus", whole, cut, sliced, broken or in powder, but not further ...',
                                                     'Yams "Dioscorea spp.", fresh, chilled, frozen or dried, whether or not sliced or in the form ...'],
                                                    ['Packaged potatoes',
                                                     'Fresh cucumbers',
                                                     'Dried adzuki beans',
                                                     'Fresh brussels sprouts',
                                                     'Fresh peas',
                                                     'Fresh spinach',
                                                     'Packaged cucumbers',
                                                     'Dried vigna beans',
                                                     'Fresh cabbages & kale',
                                                     'Fresh cassava roots',
                                                     'Packaged mushrooms & truffles',
                                                     'Dried mushrooms',
                                                     'Fresh yams'])

GCC['Product label'] = GCC['Product label'].replace(['Fresh or chilled globe artichokes',
                                                     'Dried, shelled bambara beans "Vigna subterranea or Voandzeia subterranea", whether or not skinned ...',
                                                     'Mushrooms of the genus "Agaricus", provisionally preserved, e.g., by sulphur dioxide gas, in ...',
                                                     'Fresh or chilled lettuce (excluding cabbage lettuce)',
                                                     'Fresh or chilled aubergines "eggplants"',
                                                     'Dried, shelled cow peas "Vigna unguiculata", whether or not skinned or split',
                                                     'Fresh or chilled olives',
                                                     'Fresh or chilled witloof chicory',
                                                     'Fresh or chilled chicory (excluding witloof chicory)',
                                                     'Dried, shelled pigeon peas "Cajanus cajan", whether or not skinned or split',
                                                     'Dried wood ears "Auricularia spp.", whole, cut, sliced, broken or in powder, but not further ...',
                                                     'Dried jelly fungi "Tremella spp.", whole, cut, sliced, broken or in powder, but not further ...',
                                                     'Dried mushrooms and truffles, whole, cut, sliced, broken or in powder, but not further prepared'],
                                                    ['Fresh artichokes',
                                                     'Dried bambara beans',
                                                     'Packaged preserved mushrooms',
                                                     'Fresh lettuce',
                                                     'Fresh eggplants',
                                                     'Dried cow peas',
                                                     'Fresh olives',
                                                     'Fresh witloof chicory',
                                                     'Fresh chicory',
                                                     'Dried pigeon peas',
                                                     'Dried wood ear',
                                                     'Dried jelly fungi',
                                                     'Dried mushrooms & truffles'])

GCC['Product label'] = GCC['Product label'].replace(['Onions provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...'],
                                                    ['Packaged preserved onions'])

pd.set_option('max_rows', 99999)
pd.set_option('max_colwidth', 400)

GCC

         Country     Code  ... Imported value in 2018 Imported value in 2019
0            UAE  '071340  ...                 103223                 114192
1            UAE  '070999  ...                 100864                  98916
2            UAE  '070310  ...                  90827                  89108
3            UAE  '070200  ...                 100664                  86473
4            UAE  '071320  ...                  94462                  65450
5            UAE  '070190  ...                  64463                  57780
6            UAE  '070320  ...                  32411                  52477
7            UAE  '070610  ...                  46894                  43641
8            UAE  '070960  ...                  34105                  35872
9            UAE  '071331  ...                  29763                  26593
10           UAE  '071310  ...                  12111                  19190
11           UAE  '070519  ...                  21854                  18855
12           UAE  '070410  ...                  17481                  17287
13           UAE  '070951  ...                  19057                  16706
14           UAE  '071390  ...                  11131                  15950
15           UAE  '070511  ...                  16835                  15713
16           UAE  '071333  ...                  17919                  14853
17           UAE  '071350  ...                   8478                  13733
18           UAE  '070993  ...                   8686                  10777
19           UAE  '070920  ...                   8093                   8091
20           UAE  '071021  ...                   9349                   7913
21           UAE  '070690  ...                   8278                   7616
22           UAE  '071080  ...                   8766                   7367
23           UAE  '071090  ...                   8841                   7312
24           UAE  '071360  ...                   6538                   6665
25           UAE  '071420  ...                   6424                   6598
26           UAE  '071040  ...                   6708                   6057
27           UAE  '070490  ...                   7230                   5943
28           UAE  '070820  ...                   6344                   5657
29           UAE  '070970  ...                   5106                   4359
30           UAE  '070930  ...                   3961                   3920
31           UAE  '071335  ...                   3807                   3731
32           UAE  '071339  ...                   4364                   3708
33           UAE  '070700  ...                   3598                   3456
34           UAE  '070959  ...                   1987                   3387
35           UAE  '070940  ...                   3119                   3336
36           UAE  '071440  ...                   3408                   3285
37           UAE  '070810  ...                   4009                   3065
38           UAE  '070420  ...                   2386                   2778
39           UAE  '071410  ...                   2531                   2690
40           UAE  '071290  ...                   2690                   2629
41           UAE  '071022  ...                   3467                   2561
42           UAE  '070390  ...                   2771                   2355
43           UAE  '071029  ...                   2094                   2295
44           UAE  '071430  ...                   2278                   2156
45           UAE  '071120  ...                   2008                   1834
46           UAE  '071220  ...                   1804                   1726
47           UAE  '070890  ...                   1659                   1458
48           UAE  '071030  ...                   1475                   1426
49           UAE  '071239  ...                   1786                   1254
50           UAE  '071490  ...                   1193                    987
51           UAE  '071190  ...                    784                    944
52           UAE  '071010  ...                    537                    768
53           UAE  '070110  ...                    170                    426
54           UAE  '070992  ...                    538                    425
55           UAE  '070991  ...                    377                    330
56           UAE  '070521  ...                    366                    319
57           UAE  '071332  ...                    375                    317
58           UAE  '071231  ...                    329                    311
59           UAE  '070529  ...                    353                    275
60           UAE  '071159  ...                     71                     82
61           UAE  '071232  ...                     11                     58
62           UAE  '071140  ...                     49                     51
63           UAE  '071233  ...                     28                     41
64           UAE  '071151  ...                     37                      2
65           UAE  '071334  ...                      4                      2
66           UAE  '071450  ...                      2                      0
67           UAE  '071130  ...                      0                      0
68           UAE  '070910  ...                      0                      0
69           UAE  '070952  ...                      0                      0
70           UAE  '070990  ...                      0                      0
0   Saudi Arabia  '070200  ...                  79110                  86784
1   Saudi Arabia  '070310  ...                 119844                  83625
2   Saudi Arabia  '070320  ...                  36361                  51752
3   Saudi Arabia  '071320  ...                  50843                  42160
4   Saudi Arabia  '070511  ...                  35849                  38972
5   Saudi Arabia  '071340  ...                  33991                  32766
6   Saudi Arabia  '071350  ...                  14235                  32282
7   Saudi Arabia  '070610  ...                  30336                  28535
8   Saudi Arabia  '070110  ...                  20479                  23773
9   Saudi Arabia  '070960  ...                  21543                  20600
10  Saudi Arabia  '071040  ...                  12698                  13493
11  Saudi Arabia  '071390  ...                  11208                  12528
12  Saudi Arabia  '070190  ...                  10900                  11737
13  Saudi Arabia  '071080  ...                   8983                  10919
14  Saudi Arabia  '071490  ...                  14112                   8482
15  Saudi Arabia  '070951  ...                   6323                   8151
16  Saudi Arabia  '070410  ...                   6243                   7061
17  Saudi Arabia  '071090  ...                   6318                   6693
18  Saudi Arabia  '071021  ...                   8812                   6516
19  Saudi Arabia  '071120  ...                   4878                   6312
20  Saudi Arabia  '071331  ...                   3082                   5451
21  Saudi Arabia  '070890  ...                   4398                   5305
22  Saudi Arabia  '071310  ...                   3675                   5188
23  Saudi Arabia  '070999  ...                  13692                   5157
24  Saudi Arabia  '071420  ...                   4266                   5085
25  Saudi Arabia  '071333  ...                   4165                   4546
26  Saudi Arabia  '071029  ...                   3081                   4110
27  Saudi Arabia  '071022  ...                   3479                   3512
28  Saudi Arabia  '070993  ...                   2543                   3326
29  Saudi Arabia  '071190  ...                   4781                   3281
30  Saudi Arabia  '071239  ...                   1158                   3126
31  Saudi Arabia  '070940  ...                   1776                   2400
32  Saudi Arabia  '070820  ...                   3039                   2154
33  Saudi Arabia  '070959  ...                   1649                   1963
34  Saudi Arabia  '070920  ...                   1397                   1772
35  Saudi Arabia  '070390  ...                    421                   1713
36  Saudi Arabia  '071290  ...                   1004                   1709
37  Saudi Arabia  '071030  ...                   1955                   1624
38  Saudi Arabia  '070690  ...                   1597                   1613
39  Saudi Arabia  '071440  ...                   1458                   1457
40  Saudi Arabia  '071220  ...                   1465                   1452
41  Saudi Arabia  '071010  ...                   5811                   1253
42  Saudi Arabia  '070700  ...                   1651                   1193
43  Saudi Arabia  '071332  ...                   1226                   1141
44  Saudi Arabia  '070420  ...                   1172                    780
45  Saudi Arabia  '070810  ...                    452                    735
46  Saudi Arabia  '070970  ...                    514                    646
47  Saudi Arabia  '071140  ...                    335                    512
48  Saudi Arabia  '071339  ...                    258                    428
49  Saudi Arabia  '070490  ...                    383                    345
50  Saudi Arabia  '071410  ...                     59                    279
51  Saudi Arabia  '071159  ...                     94                    266
52  Saudi Arabia  '071231  ...                    169                    246
53  Saudi Arabia  '071430  ...                    170                    213
54  Saudi Arabia  '070991  ...                     75                    180
55  Saudi Arabia  '071334  ...                    273                    169
56  Saudi Arabia  '071151  ...                     22                    147
57  Saudi Arabia  '070519  ...                   1164                    113
58  Saudi Arabia  '070930  ...                    214                    107
59  Saudi Arabia  '071335  ...                    109                    105
60  Saudi Arabia  '070992  ...                    174                     49
61  Saudi Arabia  '070521  ...                     59                     28
62  Saudi Arabia  '070529  ...                     11                     28
63  Saudi Arabia  '071360  ...                     28                     11
64  Saudi Arabia  '071232  ...                     49                      3
65  Saudi Arabia  '071233  ...                      0                      0
66  Saudi Arabia  '071230  ...                      0                      0
67  Saudi Arabia  '071110  ...                      0                      0
68  Saudi Arabia  '070990  ...                      0                      0
69  Saudi Arabia  '070910  ...                      0                      0
70  Saudi Arabia  '070952  ...                      0                      0
0          Qatar  '070310  ...                  31594                  28633
1          Qatar  '070200  ...                  29875                  26529
2          Qatar  '070999  ...                  37800                  18612
3          Qatar  '070960  ...                  16359                  15021
4          Qatar  '070110  ...                  15359                  14651
5          Qatar  '070993  ...                  11867                  14553
6          Qatar  '070610  ...                  12809                  13095
7          Qatar  '070511  ...                  10758                   9943
8          Qatar  '070320  ...                   6595                   9350
9          Qatar  '070390  ...                  37911                   9178
10         Qatar  '070410  ...                   6823                   7119
11         Qatar  '071340  ...                   7559                   5886
12         Qatar  '070700  ...                   5422                   5315
13         Qatar  '070820  ...                   4767                   4792
14         Qatar  '070420  ...                   4935                   4609
15         Qatar  '071320  ...                   5401                   3620
16         Qatar  '071080  ...                   2731                   3499
17         Qatar  '070930  ...                   4115                   3443
18         Qatar  '070190  ...                   1544                   3403
19         Qatar  '071040  ...                   3139                   2921
20         Qatar  '070959  ...                   2552                   2340
21         Qatar  '071090  ...                   3697                   2219
22         Qatar  '071021  ...                   2217                   1825
23         Qatar  '071022  ...                   2187                   1672
24         Qatar  '071390  ...                   2314                   1486
25         Qatar  '071310  ...                   1699                   1481
26         Qatar  '070920  ...                   1537                   1467
27         Qatar  '071331  ...                   1643                   1374
28         Qatar  '071030  ...                   1326                   1279
29         Qatar  '071420  ...                   1119                   1202
30         Qatar  '070521  ...                    481                   1074
31         Qatar  '071010  ...                   1271                    905
32         Qatar  '070951  ...                    999                    888
33         Qatar  '071333  ...                    811                    866
34         Qatar  '071440  ...                    672                    816
35         Qatar  '071350  ...                    727                    783
36         Qatar  '071410  ...                    624                    710
37         Qatar  '070810  ...                    856                    675
38         Qatar  '070940  ...                   1020                    674
39         Qatar  '071430  ...                    834                    612
40         Qatar  '070490  ...                    284                    484
41         Qatar  '070970  ...                   1095                    467
42         Qatar  '071029  ...                    290                    316
43         Qatar  '071220  ...                    365                    230
44         Qatar  '071339  ...                    276                    155
45         Qatar  '071120  ...                    553                    137
46         Qatar  '070991  ...                    247                    121
47         Qatar  '070519  ...                    101                    118
48         Qatar  '071190  ...                    127                    104
49         Qatar  '070690  ...                    153                     99
50         Qatar  '071360  ...                    190                     93
51         Qatar  '071239  ...                     40                     70
52         Qatar  '071490  ...                    983                     58
53         Qatar  '071335  ...                    225                     55
54         Qatar  '071332  ...                    224                     54
55         Qatar  '071290  ...                    264                     28
56         Qatar  '071231  ...                     23                     16
57         Qatar  '070992  ...                    152                     16
58         Qatar  '071151  ...                     38                     15
59         Qatar  '071159  ...                      3                      0
60         Qatar  '071130  ...                      0                      0
61         Qatar  '071140  ...                     20                      0
62         Qatar  '071232  ...                    212                      0
63         Qatar  '071233  ...                     10                      0
64         Qatar  '071230  ...                      0                      0
65         Qatar  '071334  ...                     23                      0
66         Qatar  '071450  ...                     36                      0
67         Qatar  '070990  ...                      0                      0
68         Qatar  '070952  ...                      0                      0
69         Qatar  '070529  ...                     30                      0
70         Qatar  '070890  ...                    172                      0
71         Qatar  '070910  ...                      0                      0
0           Oman  '070310  ...                  26262                  25032
1           Oman  '070190  ...                  28926                  23798
2           Oman  '070200  ...                  16949                  14268
3           Oman  '070320  ...                  10985                  13580
4           Oman  '071320  ...                  10061                   8797
5           Oman  '070960  ...                   9087                   8152
6           Oman  '071340  ...                   7986                   7494
7           Oman  '070999  ...                  10783                   6690
8           Oman  '070610  ...                   5941                   6154
9           Oman  '071390  ...                   3452                   4353
10          Oman  '071080  ...                    898                   2985
11          Oman  '071331  ...                    901                   2487
12          Oman  '071040  ...                   3237                   2421
13          Oman  '071333  ...                   1294                   2383
14          Oman  '071310  ...                   2529                   2136
15          Oman  '071090  ...                   2580                   1556
16          Oman  '070700  ...                    278                   1480
17          Oman  '071339  ...                   1383                   1452
18          Oman  '070511  ...                   4006                   1390
19          Oman  '071335  ...                     25                   1370
20          Oman  '070410  ...                   2415                   1258
21          Oman  '070519  ...                    462                    948
22          Oman  '071010  ...                   1586                    738
23          Oman  '071350  ...                    539                    644
24          Oman  '071410  ...                    649                    568
25          Oman  '071021  ...                   1093                    553
26          Oman  '071360  ...                     34                    514
27          Oman  '070110  ...                    252                    509
28          Oman  '071420  ...                    418                    477
29          Oman  '071190  ...                    267                    436
30          Oman  '071440  ...                    393                    415
31          Oman  '071290  ...                    298                    410
32          Oman  '071430  ...                    455                    403
33          Oman  '071029  ...                    449                    384
34          Oman  '070820  ...                    337                    290
35          Oman  '070890  ...                    522                    243
36          Oman  '070993  ...                    199                    225
37          Oman  '070959  ...                     72                    224
38          Oman  '070920  ...                    230                    187
39          Oman  '071220  ...                    164                    161
40          Oman  '071120  ...                     51                    141
41          Oman  '070390  ...                    232                    132
42          Oman  '070930  ...                    172                    121
43          Oman  '071332  ...                    198                    112