<a href="https://colab.research.google.com/github/amindazad/GCC_Vegtables_Market/blob/main/GCC_Vegetables_Market_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import required libraries
import pandas as pd
import numpy as np

In [2]:
UAE = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/UAE_Vegtables_Trade_Statistics_2015_2019.csv", header=0)
Saudi = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Saudi_Vegtables_Trade_Statistics_2015-2019.csv", header=0)
Qatar = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Qatar_Vetables_Trade_Statistics_2015_2019.csv", header=0)
Oman = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Oman_Vegtables_Trade_Statistics_2015_2019.csv", header=0)
Kuwait = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Kuwait_Vegtables_Trade_Statistics_2015_2019.csv", header=0)
Bahrain = pd.read_csv("https://raw.githubusercontent.com/amindazad/GCC_Vegtables_Market/main/Bahrain_Vegtables_Trade_Statistics_2015_2019.csv", header=0)

In [3]:
print(UAE.shape)
UAE.head()

(71, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0     UAE  '071340  ...                 103223                  114192
1     UAE  '070999  ...                 100864                   98916
2     UAE  '070310  ...                  90827                   89108
3     UAE  '070200  ...                 100664                   86473
4     UAE  '071320  ...                  94462                   65450

[5 rows x 8 columns]

In [4]:
# Check for NaN values
UAE.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [5]:
print(Saudi.shape)
Saudi.head()

(71, 8)

        Country     Code  ... Imported value in 2018  Imported value in 2019
0  Saudi Arabia  '070200  ...                  79110                   86784
1  Saudi Arabia  '070310  ...                 119844                   83625
2  Saudi Arabia  '070320  ...                  36361                   51752
3  Saudi Arabia  '071320  ...                  50843                   42160
4  Saudi Arabia  '070511  ...                  35849                   38972

[5 rows x 8 columns]

In [6]:
# Check for NaN values
Saudi.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [7]:
print(Qatar.shape)
Qatar.head()

(72, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0   Qatar  '070310  ...                  31594                   28633
1   Qatar  '070200  ...                  29875                   26529
2   Qatar  '070999  ...                  37800                   18612
3   Qatar  '070960  ...                  16359                   15021
4   Qatar  '070110  ...                  15359                   14651

[5 rows x 8 columns]

In [8]:
# Check for NaN values
Qatar.isnull().sum()

Country                    0
Code                       0
Product label              0
Imported value in 2015     0
Imported value in 2016    72
Imported value in 2017     0
Imported value in 2018     0
Imported value in 2019     0
dtype: int64

In [9]:
Qatar[Qatar.isna().any(axis=1)]

   Country     Code  ... Imported value in 2018  Imported value in 2019
0    Qatar  '070310  ...                  31594                   28633
1    Qatar  '070200  ...                  29875                   26529
2    Qatar  '070999  ...                  37800                   18612
3    Qatar  '070960  ...                  16359                   15021
4    Qatar  '070110  ...                  15359                   14651
..     ...      ...  ...                    ...                     ...
67   Qatar  '070990  ...                      0                       0
68   Qatar  '070952  ...                      0                       0
69   Qatar  '070529  ...                     30                       0
70   Qatar  '070890  ...                    172                       0
71   Qatar  '070910  ...                      0                       0

[72 rows x 8 columns]

In [10]:
# Replace NaN values with the row's mean. I chose row mean because replaced
# values are specific to each product
Qatar = Qatar.T.fillna(Qatar.mean(axis=1)).T
Qatar

   Country     Code  ... Imported value in 2018 Imported value in 2019
0    Qatar  '070310  ...                  31594                  28633
1    Qatar  '070200  ...                  29875                  26529
2    Qatar  '070999  ...                  37800                  18612
3    Qatar  '070960  ...                  16359                  15021
4    Qatar  '070110  ...                  15359                  14651
..     ...      ...  ...                    ...                    ...
67   Qatar  '070990  ...                      0                      0
68   Qatar  '070952  ...                      0                      0
69   Qatar  '070529  ...                     30                      0
70   Qatar  '070890  ...                    172                      0
71   Qatar  '070910  ...                      0                      0

[72 rows x 8 columns]

In [11]:
print(Oman.shape)
Oman.head()

(69, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0    Oman  '070310  ...                  26262                 25032.0
1    Oman  '070190  ...                  28926                 23798.0
2    Oman  '070200  ...                  16949                 14268.0
3    Oman  '070320  ...                  10985                 13580.0
4    Oman  '071320  ...                  10061                  8797.0

[5 rows x 8 columns]

In [12]:
# Check for NaN values
Oman.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    5
dtype: int64

In [13]:
# Replace NaN values with the row's mean. I chose row mean because replaced
# values are specific to each product
Oman = Oman.T.fillna(Oman.mean(axis=1)).T
Oman.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [14]:
print(Kuwait.shape)
Kuwait.head()

(70, 8)

  Country     Code  ... Imported value in 2018  Imported value in 2019
0  Kuwait  '070200  ...                  32509                 36022.0
1  Kuwait  '070190  ...                  38200                 21478.0
2  Kuwait  '070310  ...                  37638                 21394.0
3  Kuwait  '070960  ...                  17215                 20992.0
4  Kuwait  '070999  ...                  50434                 19663.0

[5 rows x 8 columns]

In [15]:
# Check for NaN values
Kuwait.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    6
dtype: int64

In [16]:
# Replace NaN values with the row's mean. I chose row mean because replaced
# values are specific to each product
Kuwait = Kuwait.T.fillna(Kuwait.mean(axis=1)).T
Kuwait.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [17]:
print(Bahrain.shape)
Bahrain.head()

(72, 8)

   Country     Code  ... Imported value in 2018  Imported value in 2019
0  Bahrain  '070200  ...                  13963                 17583.0
1  Bahrain  '070999  ...                  16614                 11934.0
2  Bahrain  '070310  ...                  15774                 11803.0
3  Bahrain  '070960  ...                   8852                  8711.0
4  Bahrain  '070190  ...                  12031                  6606.0

[5 rows x 8 columns]

In [18]:
# Check for NaN values
Bahrain.isnull().sum()

Country                    0
Code                       0
Product label              0
Imported value in 2015     0
Imported value in 2016     0
Imported value in 2017     0
Imported value in 2018     0
Imported value in 2019    10
dtype: int64

In [19]:
Bahrain[Bahrain.isna().any(axis=1)]

    Country     Code  ... Imported value in 2018  Imported value in 2019
62  Bahrain  '071334  ...                      0                     NaN
63  Bahrain  '071159  ...                     34                     NaN
64  Bahrain  '071232  ...                      1                     NaN
65  Bahrain  '071233  ...                      0                     NaN
66  Bahrain  '071230  ...                      0                     NaN
67  Bahrain  '071130  ...                      0                     NaN
68  Bahrain  '071110  ...                      0                     NaN
69  Bahrain  '070990  ...                      0                     NaN
70  Bahrain  '070952  ...                      0                     NaN
71  Bahrain  '070910  ...                      0                     NaN

[10 rows x 8 columns]

In [20]:
Bahrain = Bahrain.T.fillna(Bahrain.mean(axis=1)).T
Bahrain

    Country     Code  ... Imported value in 2018 Imported value in 2019
0   Bahrain  '070200  ...                  13963                  17583
1   Bahrain  '070999  ...                  16614                  11934
2   Bahrain  '070310  ...                  15774                  11803
3   Bahrain  '070960  ...                   8852                   8711
4   Bahrain  '070190  ...                  12031                   6606
..      ...      ...  ...                    ...                    ...
67  Bahrain  '071130  ...                      0                      0
68  Bahrain  '071110  ...                      0                      0
69  Bahrain  '070990  ...                      0                    0.5
70  Bahrain  '070952  ...                      0                      0
71  Bahrain  '070910  ...                      0                      0

[72 rows x 8 columns]

In [21]:
# Merge Datasets
df1 = pd.concat([UAE, Saudi])
df2 = pd.concat([df1, Qatar])
df3 = pd.concat([df2, Oman])
df4 = pd.concat([df3, Kuwait])
GCC = pd.concat([df4, Bahrain])
GCC

    Country     Code  ... Imported value in 2018 Imported value in 2019
0       UAE  '071340  ...                 103223                 114192
1       UAE  '070999  ...                 100864                  98916
2       UAE  '070310  ...                  90827                  89108
3       UAE  '070200  ...                 100664                  86473
4       UAE  '071320  ...                  94462                  65450
..      ...      ...  ...                    ...                    ...
67  Bahrain  '071130  ...                      0                      0
68  Bahrain  '071110  ...                      0                      0
69  Bahrain  '070990  ...                      0                    0.5
70  Bahrain  '070952  ...                      0                      0
71  Bahrain  '070910  ...                      0                      0

[425 rows x 8 columns]

In [22]:
# Finding Null Values and replacing them with 0
GCC.isnull().sum()

Country                   0
Code                      0
Product label             0
Imported value in 2015    0
Imported value in 2016    0
Imported value in 2017    0
Imported value in 2018    0
Imported value in 2019    0
dtype: int64

In [23]:
GCC['Product label'].value_counts()

Fresh or chilled globe artichokes                                                                      12
Sweet potatoes, fresh, chilled, frozen or dried, whether or not sliced or in the form of pellets        6
Sweetcorn, uncooked or cooked by steaming or by boiling in water, frozen                                6
Dried mushrooms and truffles, whole, cut, sliced, broken or in powder, but not further prepared ...     6
Fresh or chilled edible mushrooms and truffles (excluding mushrooms of the genus "Agaricus")            6
                                                                                                       ..
Fresh or chilled truffles                                                                               5
Dried mushrooms and truffles, whole, cut, sliced, broken or in powder, but not further prepared         4
Capers provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...          4
Onions provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...          2
Yautia "Xanthosoma spp.", fresh, chilled, frozen or dried, whether or not sliced or in the ...          2
Name: Product label, Length: 72, dtype: int64

In [25]:
# Renaming product lables to shorter more interperetable names
GCC['Product label'] = GCC['Product label'].replace(['Fresh or chilled onions and shallots',
                                                     'Dried, shelled chickpeas "garbanzos", whether or not skinned or split',
                                                     'Garlic, fresh or chilled',
                                                     'Fresh or chilled cabbage lettuce',
                                                     'Dried, shelled lentils, whether or not skinned or split',
                                                     'Dried, shelled broad beans "Vicia faba var. major" and horse beans "Vicia faba var. equina ...',
                                                     'Fresh or chilled carrots and turnips',
                                                     'Fresh or chilled fruits of the genus Capsicum or Pimenta',
                                                     'Sweetcorn, uncooked or cooked by steaming or by boiling in water, frozen',
                                                     'Dried, shelled leguminous vegetables, whether or not skinned or split (excluding peas, chickpeas, ...',
                                                     'Fresh or chilled potatoes (excluding seed)',
                                                     'Vegetables, uncooked or cooked by steaming or by boiling in water, frozen (excluding potatoes, …',
                                                     'Arrowroot, salep, Jerusalem artichokes and similar roots and tubers with high starch or inulin ...'],
                                                    ['Fresh Onions and Shallots',
                                                     'Dried Chickpeas',
                                                     'Fresh Garlic',
                                                     'Fresh Cabbage',
                                                     'Dried Lentil',
                                                     'Dried Beans',
                                                     'Fresh Carrots & Turnips',
                                                     'Fresh Bell Peppers and Other Peppers',
                                                     'Packaged Sweetcorn',
                                                     'Dried beans',
                                                     'Fresh Potatoes (excluding seed)',
                                                     'Packaged Vegtables',
                                                     'Fresh Arrowroots'])

GCC['Product label'] = GCC['Product label'].replace(['Fresh or chilled mushrooms of the genus "Agaricus"',
                                                     'Fresh or chilled cauliflowers and headed broccoli',
                                                     'Mixtures of vegetables, uncooked or cooked by steaming or by boiling in water, frozen',
                                                     'Shelled or unshelled peas "Pisum sativum", uncooked or cooked by steaming or by boiling in …',
                                                     'Olives, provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur water or ...',
                                                     'Dried, shelled beans of species "Vigna mungo [L.] Hepper or Vigna radiata [L.] Wilczek", whether ...',
                                                     'Fresh or chilled leguminous vegetables, shelled or unshelled (excluding peas "Pisum sativum" ...',
                                                     'Dried, shelled peas "Pisum sativum", whether or not skinned or split',
                                                     'Fresh or chilled vegetables n.e.s.',
                                                     'Sweet potatoes, fresh, chilled, frozen or dried, whether or not sliced or in the form of pellets',
                                                     'Dried, shelled kidney beans "Phaseolus vulgaris", whether or not skinned or split',
                                                     'Shelled or unshelled beans "Vigna spp., Phaseolus spp.", uncooked or cooked by steaming or ...',
                                                     'Fresh or chilled pumpkins, squash and gourds "Cucurbita spp."'],
                                                    ['Fresh Mushrooms',
                                                     'Fresh Cauliflowers and Broccolis',
                                                     'Packaged Mixed Vegtables',
                                                     'Dried Peas',
                                                     'Packaged Olives',
                                                     'Dried Vigna Beans',
                                                     'Fresh leguminous vegetables',
                                                     'Dried shelled peas',
                                                     'Fresh n.e.s. vegtebles',
                                                     'Dried kidney beans',
                                                     'Packaged leguminous vegetables',
                                                     'Packaged Beans',
                                                     'Fresh pumpkins, squash, gourds'])

GCC['Product label'] = GCC['Product label'].replace(['Vegetables and mixtures of vegetables provisionally preserved, e.g. by sulphur dioxide gas, ...',
                                                     'Dried mushrooms and truffles, whole, cut, sliced, broken or in powder, but not further prepared ...',
                                                     'Fresh or chilled celery (excluding celeriac)',
                                                     'Fresh or chilled beans "Vigna spp., Phaseolus spp.", shelled or unshelled',
                                                     'Fresh or chilled edible mushrooms and truffles (excluding mushrooms of the genus "Agaricus")',
                                                     'Fresh or chilled asparagus',
                                                     'Fresh or chilled leguminous vegetables, shelled or unshelled (excluding peas "Pisum sativum" ...',
                                                     'Leeks and other alliaceous vegetables, fresh or chilled (excluding onions, shallots and garlic)',
                                                     'Dried vegetables and mixtures of vegetables, whole, cut, sliced, broken or in powder, but not ...',
                                                     'Spinach, New Zealand spinach and orache spinach, uncooked or cooked by steaming or by boiling ...',
                                                     'Fresh or chilled salad beetroot, salsify, celeriac, radishes and similar edible roots (excluding ...',
                                                     'Taro "Colocasia spp.", fresh, chilled, frozen or dried, whether or not sliced or in the form …',
                                                     'Dried onions, whole, cut, sliced, broken or in powder, but not further prepared"'],
                                                    ['Packaged preserved vegtables',
                                                     'Dried mushrooms and truffles',
                                                     'Fresh celery',
                                                     'Fresh Vigna Beans',
                                                     'Fresh Exotic Mushrooms',
                                                     'Fresh asparagus',
                                                     'Fresh leguminous vegetables',
                                                     'Fresh alliaceous vegetables (excluding onions, shallots and garlic)',
                                                     'Dried vegtables mix',
                                                     'Packaged spinach',
                                                     'Fresh beetroot & radishes',
                                                     'Fresh Taro',
                                                     'Dried oninons'])

GCC['Product label'] = GCC['Product label'].replace(['Potatoes, uncooked or cooked by steaming or by boiling in water, frozen',
                                                     'Cucumbers and gherkins, fresh or chilled',
                                                     'Dried, shelled small red "Adzuki" beans "Phaseolus or Vigna angularis", whether or not skinned ...',
                                                     'Brussels sprouts, fresh or chilled',
                                                     'Fresh or chilled peas "Pisum sativum", shelled or unshelled',
                                                     'Fresh or chilled spinach, New Zealand spinach and orache spinach',
                                                     'Cucumbers and gherkins provisionally preserved, e.g. by sulphur dioxide gas, in brine, in sulphur ...',
                                                     'Dried, shelled beans "Vigna and Phaseolus", whether or not skinned or split (excluding beans …',
                                                     'Fresh or chilled cabbages, kohlrabi, kale and similar edible brassicas (excluding cauliflowers, ...',
                                                     'Fresh, chilled, frozen or dried roots and tubers of manioc "cassava", whether or not sliced ...',
                                                     'Mushrooms and truffles, provisionally preserved, e.g., by sulphur dioxide gas, in brine, in …',
                                                     'Dried mushrooms of the genus "Agaricus", whole, cut, sliced, broken or in powder, but not further ...',
                                                     'Yams "Dioscorea spp.", fresh, chilled, frozen or dried, whether or not sliced or in the form ...'],
                                                    ['Packaged potatoes',
                                                     'Fresh cucumbers',
                                                     'Dried adzuki beans',
                                                     'Fresh brussels sprouts',
                                                     'Fresh peas',
                                                     'Fresh spinach',
                                                     'Packaged cucumbers',
                                                     'Dried vigna beans',
                                                     'Fresh cabbages & kale',
                                                     'Fresh cassava roots',
                                                     'Packaged mushrooms & truffles',
                                                     'Dried mushrooms',
                                                     'Fresh yams'])

GCC

    Country     Code  ... Imported value in 2018 Imported value in 2019
0       UAE  '071340  ...                 103223                 114192
1       UAE  '070999  ...                 100864                  98916
2       UAE  '070310  ...                  90827                  89108
3       UAE  '070200  ...                 100664                  86473
4       UAE  '071320  ...                  94462                  65450
..      ...      ...  ...                    ...                    ...
67  Bahrain  '071130  ...                      0                      0
68  Bahrain  '071110  ...                      0                      0
69  Bahrain  '070990  ...                      0                    0.5
70  Bahrain  '070952  ...                      0                      0
71  Bahrain  '070910  ...                      0                      0

[425 rows x 8 columns]